name: 'escenario_web_IAW'

services:
  bases:
    container_name: bases
    image: localhost/bases:v1
    networks:
      redbridgeIAW:
        ipv4_address: 10.0.1.2
    ports:
      - 3306:3306
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 1
    restart: always

  webserver:
    container_name: webserv
    image: localhost/webserv:v4
    networks:
      redbridgeIAW:
        ipv4_address: 10.0.1.3
    ports:
      - 8080:80
    restart: always
    depends_on:
      - bases
    environment:
      DB_HOST: bases
      DB_PORT: 3306
      DB_NAME: minecraft_forum
      DB_USER: root
      DB_PASS: ""

networks:
  redbridgeIAW:
    driver: bridge
    ipam:
     config:
       - subnet: 10.0.1.0/24
         gateway: 10.0.1.1
